---
BasedOnStyle: LLVM
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Allman
AlwaysBreakTemplateDeclarations: true
SortIncludes: 'true'
TabWidth: '8'
UseTab: Never
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline

...

